body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$colorWhite: white;
$colorDefault: #d5d4d4;
$colorDefault2: lightgray;
$colorDefault3: #dcdada;
$colorDefault4: grey;

$colorActive0: #57C0EC;
$colorActive1: #0f7dc6;
$colorActive2: blue;
$colorActive3: #94A844;
$colorActive4: #94b21b;
$colorActive5: #16a811;
$colorActive6: #e11984;

$colorBg0: #6e6e6e;
$colorBg1: #2C2C32;
$colorBg2: #171B1E;

$size: 10px;
$heightHeader: 100px;
$heightFooter: 80px;